<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
</head>

<body>
<form method="POST">
<label for="name">NAME :</label>
<input type="text" name="name" id="name"><br>
<label for="email">EMAIL :</label>
<input type="email" name="email" id="email"><br>
<label for="password">PASSWORD :</label>
<input type="password" name="password" id="password"><br>
<label for="password_conf">Password_confirmation :</label>
<input type="text" name="password_confirmation" id="password_conf"><br>

<button type="submit">submit</button>
</form>
</body>

</html>